<html>
    <head><title><%= title %></title></head>
    <body>
        <h1>Contact Page</h1>
        <p>
            <form action="/contact" method="POST">
                <input type="email" name="email" placeholder="Email">
                <br>
                <Textarea name="message" placeholder="Message"></Textarea>
                <br>
                <input type="submit">
            </form>
        </p>
        <hr>
        <div>
            <% if(contacts.length > 0) { %>
                <% contacts.forEach(contact => { %>
                    <div>
                        <h3><%= contact.email %></h3>
                        <p><%= contact.message %></p>
                        <div><a href="/contact/<%= contact.id %>" style="background-color: blueviolet; color: white; padding: 10px; cursor: pointer;" >See</a></div>
                        <hr>
                    </div>
                <% })%>
                <% }%>
        </div>
    </body>
</html>